.container {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.content {
  background-color: #293241;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 4px rgba(204, 204, 204, 1);
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e0fbfc;
  padding: 0px 16px;
}

.signout-button {
  border: none;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  background-color: #ee6c4d;
  color: whitesmoke;
}

.message {
  display: flex;
  margin: 16px 0px;
  color: #e0fbfc;
}

.sent {
  justify-content: flex-end;
}

.sent img {
  order: 2;
  margin-left: 8px;
}

.message img {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}
