.container {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.content {
  background-color: #293241;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 4px rgba(204, 204, 204, 1);
  max-width: calc(8px * 45);
  min-width: calc(8px * 20);
  min-height: calc(8px * 40);
}

.content h3 {
  color: whitesmoke;
  text-align: center;
  margin-top: 80px;
  padding: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e0fbfc;
  font-weight: 700;
  padding: 0px 16px;
  box-shadow: 1px 0px 8px 0px rgba(204, 204, 204, 1);
  height: 12%;
}

section {
  height: 88%;
}

.button-auth {
  border: none;
  border-radius: 4px;
  padding: 16px;
  background-color: #98c1d9;
  color: #293241;
  cursor: pointer;
  font-weight: 700;
}

main {
  padding: 0 32px;
  height: calc(8px * 40);
  overflow-y: auto;
  scroll-behavior: smooth;
}

main::-webkit-scrollbar {
  display: none;
}

.message {
  display: flex;
  margin: 16px 0px;
  color: #e0fbfc;
  word-break: break-all;
  align-items: flex-start;
}

.message p {
  margin: 0;
  border: 1px outset #e0fbfc;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
}

.sent {
  text-align: justify;
  justify-content: flex-end;
}

.sent img {
  order: 2;
  margin-left: 8px;
}

.received img {
  margin-right: 8px;
}

.message img {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.form-send {
  display: flex;
  padding: 16px 32px;
}

.form-send input {
  flex-grow: 1;
  padding: 16px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.button-send {
  border: none;
  padding: 16px 24px;
  background-color: #ee6c4d;
  color: #e0fbfc;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  cursor: pointer;
}

.button-send-disabled {
  border: none;
  padding: 16px 24px;
  background-color: #ee6d4db0;
  color: #e0fbfc80;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
}

@media only screen and (max-width: 320px) {
  .content {
    width: calc(8px * 33);
  }

  .form-send input {
    padding: 8px;
  }

  .button-send {
    padding: 8px;
  }

  .button-send-disabled {
    padding: 8px;
  }

  .button-auth {
    padding: 8px;
  }
}
